* text=auto

*.* text eol=crlf

# images
*.png binary
*.jpg binary
*.webp binary
*.gif binary
*.ico binary

# video
*.mp4 binary
*.webm binary
*.ogv binary

# audio
*.mp3 binary
*.ogg binary
*.wav binary

# fonts
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary

# archive
*.zip binary
*.rar binary
*.7z binary
*.tgz binary

# other
*.pdf binary
*.wasm binary
*.exe binary
*.deb binary
